body {
    width: 100%;
    padding: 0 0 3rem;
    margin: 0;
    color: #5a5a5a;
    background-color: whitesmoke;
}

.group-carousel-img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    border-radius: 50%;
    width: 30%;
    height: 6.5%;
}

.group-carousel-img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

@keyframes upArrow {
    0% {
        transform: translateY(15px);
        opacity: 5%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        transform: translateY(-10px);
        opacity: 5%
    }
}

.btn-dot {
    animation: upArrow 2s infinite ease-in-out;
}

/* NAVBAR */

.nav-link {
    position: relative;
    padding: 5px;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    background: none repeat scroll 0 0 transparent;
    height: 2px;
    width: 0;
    background: darkgray;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.nav-link:hover::after {
    width: 90%;
    left: 5px;
}


/* CAROUSEL */
.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}


.carousel-item {
    height: 32rem;
}

.container{
    padding-top: 10px;
}


.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    /*height: 32rem;*/
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    /*margin-right: .75rem;*/
    /*margin-left: .75rem;*/
}

.featurette-divider {
    margin: 5rem 0;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    rtl:remove
    /*letter-spacing: -.05rem;*/
}


@media (min-width: 40em) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 45px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}
